<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
 <bean class="dao.ProduitImpDB" id="beanDao" init-method="init"></bean>
 <bean class="services.ProduitImpMetier" id="beanServices">
  <property name="dao" ref="beanDao"></property>
 </bean>           
</beans>                         